name: CI

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java_version: [17, 21]
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java_version }}
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: ${{ matrix.java_version }}
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Execute Gradle 'check' task
      run: ./gradlew check
    - name: Upload Gradle test reports
      uses: actions/upload-artifact@v4
      with:
        name: gradle_test_reports_with_java_${{ matrix.java_version }}
        path: build/reports/tests/test

  integration-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java_version: [17, 21]
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java_version }}
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: ${{ matrix.java_version }}
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Execute Gradle 'integrationTest' task
      run: ./gradlew integrationTest
    - name: Upload Gradle test reports
      uses: actions/upload-artifact@v4
      with:
        name: gradle_integration_test_reports_with_java_${{ matrix.java_version }}
        path: build/reports/tests/integrationTest

  test-on-example-app:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java_version: [17, 21]
        spring_boot_version: [3, 4]
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java_version }}
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: ${{ matrix.java_version }}
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Install spring-data-sqlite to Maven local
      run: ./gradlew publishToMavenLocal
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Execute the example app using Spring Boot ${{ matrix.spring_boot_version }} to test spring-data-sqlite
      working-directory: example
      env:
        EXAMPLE_APP_SPRING_BOOT_VERSION: ${{ matrix.spring_boot_version }}
      run: ./gradlew run
